In [22]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [15]:
# Splinter & Executable Path Set Up
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 95.0.4638
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - Driver [C:\Users\Owner\.wdm\drivers\chromedriver\win32\95.0.4638.54\chromedriver.exe] found in cache

In [3]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)
# Here we able to do two things.
# 1. We are searching for elements with a specific combination of the tag (div) and attribute (list_text).
# 2. wait_time =, allows us to delay the search for components which is useful for content heavy (images) pages.

True

In [4]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')
#slide_elem is the parent element. It will contain the <div> tag and all of the descending elements.
# The . is used to select classes under a tag (in this case <div>).
# select_one allows us to pick the first matching element as CSS works from right to left.

In [5]:
# Referencing the title text of first article.
slide_elem.find('div', class_= 'content_title')
# .find allows you to narrow down a search in a variable containing tons of information.
# here we are looking for the content title, which we have specified with the arguments (tag, class)

In [6]:
# Use the parent element to find the first 'a' tag and save it as 'news_title'
news_title = slide_elem.find('div', class_= 'content_title').get_text()
news_title
# .get_text() will return the string content only

"NASA's Perseverance Rover Is Midway to Mars "

In [7]:
# Retrieving the first article summary text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."

### Featured Images

In [16]:
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [17]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()
# full_image_elem --> holds the scrape into a variable
# browser.find_by_tag('button') --> browser finds an element by its tag
# splinter will 'click' the image to view its full size.

In [18]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [19]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel
# img is the tag that contains the photo
# .get('src') pulls the link to the image.

'image/featured/mars2.jpg'

In [20]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

### Mars Facts

In [23]:
# We are creating a new DataFrame from the HTML table.
# read_html specifically searches for and returns a list of tables found in the table, we index 0 to only pull the first table.
df = pd.read_html('https://galaxyfacts-mars.com')[0]
# Assign columns
df.columns=['description', 'Mars', 'Earth']
# Setting the index to description without reassignment to a new variable
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [24]:
# Converting the df to a html source.
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [25]:
# Quitting automated browser
browser.quit()